.test {
        text-align: center;
        text-shadow:2ch ;
        width: 100%;
       text-size-adjust: 5;
       font-size: x-large;
       
  
}
.articleMamad {
    text-align: right;
   
  
   text-size-adjust: 5;
   font-size:large;
   

}